@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');
$ff-logo:  'Alex Brush', cursive;

$primary:  rgb(139, 9, 9);
$dark: rgba(rgb(51, 51, 51), .7);
$light: rgba(rgb(219, 219, 219), .7);