#makeover {
position: relative;
min-height: 200px;
background-image: url("../img/make-up.jpg");
background-attachment: fixed;
background-position: center;
background-size: cover;
color: white;
text-align: center;
}